.App {
  text-align: center;
  align-content: center;
  margin: auto;
  font-family: "Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

.App-logo {
  height: 175px;
}

.App-header {
  display: flex;
  flex-wrap: nowrap;
  background-color: gold;
  height: 225px;
  padding: 20px;
  color: black;
  width: 1150px;
  margin: auto;
}

.App-title {
  font-size: xx-large;
  margin-left: 150px;
  margin-right: 150px;
}

.App-intro {
  font-size: x-large;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
